{% extends 'accounts/header.html' %}
{% load bootstrap %}

<title>{% block title %}Family Enrichment Analysis{% endblock %}</title>

{% block body %}
    <div class="container">
        <h4><b>Download source code and database using git</b></h4>

        <code> git clone https://github.com/reneshbedre/GenFam.git </code>
        <br><br>

        <a href="https://github.com/reneshbedre/GenFam"> Visit GenFam Source Code and Database</a>


        <h4><b>Direct download source code and database using git</b></h4>
        <ul>
            <li><b>Version 1.1 release Oct 31, 2019 (release for minor changes)</b></li>
            <br>
            <button type="button" class="btn btn-default">
                <a href="{{MEDIA_URL}}src/GenFam_src_v1.1.tar.gz" target="_blank" style="color:#DEB887; text-decoration: none;">Source code</a>
            </button>
            <br>
                <ul>
                    <li>Enriched gene families are ranked as per FDR values</li>
                    <li>The format of P-value and FDR changed in scientific notation</li>
                </ul>
            <br>
            <li><b>Version 1.0 </b></li>
            <br>
            <button type="button" class="btn btn-default">
                <a href="{{MEDIA_URL}}src/GenFam_src.tar.gz" target="_blank" style="color:#DEB887; text-decoration: none;">Source code and database</a>
            </button>

        </ul>

    </div>

        {% include 'accounts/footer.html' %}


        <!-- footer
        <div class="container">
        {% include 'accounts/footer.html' %}
        </div>
        -->

{% endblock %}
</title>
</head>
<body>

</body>
</html>
